@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
$white:#fff;
$darkBlue:#001737;
$skyBlue:#8accc0;


body{
    font-family: 'Noto Sans', sans-serif;
}


$fontSizes: (12,
    13,
    14,
    15,
    16,
    17,
    18,
    19,
    20,
    21,
    22,
    23,
    24,
    25,
    26,
    27,
    28,
    30,
    32,
    34,
    35,
    36,
    38,
    40,
    42,
    43,
    44,
    45,
    46,
    47,
    50);

@each $fontSize in $fontSizes {
    .fz#{$fontSize} {
        font-size: #{$fontSize}px;
    }
}


$units: (5,
    10,
    15,
    20,
    25,
    30,
    35,
    40,
    42,
    45,
    50,
    55,
    60,
    65,
    70,
    75,
    80,
    85);

@each $unit in $units {
    .mT#{$unit} {
        margin-top: #{$unit}px;
    }

    .mB#{$unit} {
        margin-bottom: #{$unit}px;
    }

    .mR#{$unit} {
        margin-right: #{$unit}px;
    }

    .mL#{$unit} {
        margin-left: #{$unit}px;
    }
}

.boderR5 {
    border-radius: 5px;
}

.boderR10 {
    border-radius: 10px;
}
.dynamicBg{ background-size: cover; background-repeat: no-repeat; background-position: center center;
    &.center{ background-position: center center; }
    &.bottom{ background-position: center center; }

}

.sidebar > .nav .nav-item{
    .sub-menu{ padding-left: 20px; }
}

.transition{
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-form{ margin-right: 10px;
    .form-group{ margin-bottom: 0; position: relative;
            .form-control{ padding-right: 40px; }
            .search-btn{ position: absolute; border: none; width: 38px; right: 0;
                height: 36px;
                background-color: #99aeb2; text-align:center; color: white; font-size: 20px;
                @extend.transition;
                &:hover{ background-color: #8accc0; }
            }
    }
}
.img-fulid{ max-width: 100%; }
.mt50{ margin-top: 50px; }
.dashboardBox{ margin: 0 15px;    padding: 30px;  min-width: 174px;
    padding-right: 20px;
        p{ font-size: 16px; margin-bottom: 0; }
        .fz30{font-size: 30px; }
        &.lightBlue{
            box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.16);
            background-color: #cbe1dd;  
         
            p{ color: #647f85; }
            .fz30{ color: #647f85; }
        }

        &.darkBlue{background: #647f85;
            p{ color: #cbdde1; }
            .fz30{ color: #cbdde1; }
        
        }
}

.customRow{ display:flex; flex-direction: row; margin: 0 -15px;  }
.graphBlock{ 

    box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.16);
  background-color:$white;
  border: none;
  .sales-mini-tabs{ margin-top: 40px;
    .nav-item .nav-link{color: #a8a8a8; font-size: 16px;
        &.alltime{  background: #8accc0; padding: 7px; color: white; }  
    }
  }


 }
.graphTitle{
        font-size:20px;
        letter-spacing: 1px;
        color: #414141;
}

.tableblock{
    box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.16);
    background-color:$white;
    position: relative;
  
    .table{
        thead{
            th{font-size: 16px; color: #414141;  letter-spacing: 0.8px; font-family: 'Noto Sans', sans-serif !important;   }
        }
        tbody{
            tr{
            td{ font-size: 14px; color: #414141;  letter-spacing: 0.7px;     font-family: 'Noto Sans', sans-serif; 
                &:last-child{ width: 150px; }
            }

            }
        }
    }
   
    .tableheading{
        padding:24px 30px;
        font-size:20px;
        letter-spacing: 1px;
        color: #414141;
            a{ @extend.transition; margin-left: 20px; background-color: $skyBlue; color:$white; padding: 4px 7px; font-size: 16px;
                &:hover{text-decoration: none; background: #647f85; }
                &.overview{padding: 6px 15px;
                }
            }

            .actionBtns{
                    a{ margin-left: 0; padding: 1px;
                        &:hover{ background: #89f9e5; } 
                        &.dark{
                                &:hover{ background: #536a6f; }
                        }
                    }
            }

            &.dashboard{  a{ float: right; } } 
    }

}

.actionBtns{
        a{
            width: 22px;
            height: 22px;
            background-color: #cbdde1;
            display: inline-block; 
            text-align: center;
            line-height: 18px;
            @extend.transition;
                img{ max-width: 13px;border-radius: 0 !important; min-width: auto !important; width: auto!important; height: auto!important; }

                &.dark{ background: #647f85; 
                        &:hover{
                            background: #546b70; 
                        }
                }
                &:hover{
                    background: #c4d4d8; 
                }

        }
}
.tabingBlock{
    box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 0 15px;
    .nav-tabs { border-bottom: none;
        .nav-item{ margin-bottom: 0; }
        .nav-link{
            line-height: 1.38;
            letter-spacing: 0.8px;
            text-align: left;
            color: #99aeb2;
            @extend.fz16;
            padding: 17px;
            border: none;
            position: relative;
           
                &:after{ content: ''; width:0; height: 3px; background: #8accc0; position: absolute; 
                  left: 0; right: 0; margin: 0 auto;  bottom: -1px;
                  transition: all 0.5s ease 0s;
                  -moz-transition: all 0.5s ease 0s;
                  -webkit-transition: all 0.5s ease 0s;

                }
                &.active{ border: none; color: #262727;
                    &:after{ width: 100%; }
                }
        }
    }
    .newBooking{ background-color:transparent; padding-top: 8px; padding-right: 20px; float: right; color: #99aeb2; @extend.fz16; border:none;
        span{ font-size: 25px; position: relative; top: 2px; }

        &:hover{ text-decoration: none; color: $skyBlue; }
    }
}

.search-room{ 
    .form-control{min-width: inherit; background: $white; color: #99aeb2;  }
 }

 .flr{ float: right; }
 .defultBtn{
    background-color:$skyBlue;
    color: #fff;
    padding: 4px 7px;
    font-size: 16px;
    border: none;
  
 }

 .pagination{ 
     .page-item{ margin-right: 10px; 
        &:last-child{
            .page-link{
                border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
            }
        }
     }
    .page-link{ background-color: transparent; border:none; border-radius: 0px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        padding: 0;
        @extend.fz14;
        color: #414141;
            &:focus{ box-shadow: none; }
       
    }

  .active{ 
    .page-link{ background: $skyBlue; border-color:  $skyBlue; border-radius: 0; }

    }
    .page-item.disabled .page-link{ background-color: transparent; border:none;  border-radius: 0px; }
  }

  .pB25{ padding-bottom: 25px; }

  .bookingDetails{ border-bottom: 1px solid #cbe1dd; padding:25px 30px; 
        .labelText{ color: #647f85; font-weight: bold; @extend.fz16;   letter-spacing: 0.8px; }
        p{ color: #647f85;  @extend.fz16;  letter-spacing: 0.8px; position: relative;
            span{ display: block; }
            &.pl45{ padding-left: 45px; margin-top: 10px; }
            .icon{ position: absolute; left: 0; top:4px;  }
        }

    }

.qrcodes{ text-align: center;
    .qrRow{ margin: 0 -20px; }
    .qrcodeListing{
        display: inline-block;
        padding: 30px;
        margin: 20px;
        width: 174px;
        p{ color: #647f85; @extend.fz16; text-align: left;
            span{ display: block; }
            a{ color: #647f85; 
                &:hover{ text-decoration: none; }
            }
        }
        &.viewqr{  border: solid 2px #cbdde1; }
        &.genrateCode{ background-color: #cbe1dd; }
        &.viewpass{  border: solid 2px #647f85; }
        &.genratePass{ background-color: #647f85;
                p{ color: #cbdde1;
                    a{color: #cbdde1;}
                }
        }
    }
}

.codeModal{ position: absolute;
    min-height: 537px;
    width: 462px;
    max-width: 90%;
    box-shadow: 0 3px 99px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        .title{ @extend.fz20; text-align: center; color: #647f85;margin-bottom: 30px;}
        .close{ position: absolute; right: 30px; top: 30px; }
        .passtext{ font-size: 60px; color: #647f85; }
}

.choosethme{ padding: 0 30px;
 
    a{ 
        &:hover{ text-decoration: none; }
     }
     label{ padding-top: 8px; font-size: 16px; color: #414141;  }
     .custom-file-label, .custom-file-input, .custom-file{
         
    height: calc(1.8125em + 0.75rem + 2px);
     }
     .custom-file-label::after{
        height: calc(1.8125em + 0.75rem + 4px);
        line-height: 2;
        background-color: #99aeb2;
        color: $white;
        border-radius: 0;
        font-size: 14px;
     }
     .custom-file-label{ padding-top:9px; border-radius: 0; }
     .custom-file{ max-width: 194px; }
     .custom-control-inline{  margin-right: 0;}
     .custom-radio{ padding-left: 0;     margin-right: -5px;
        &.on{
            .custom-control-label::before{
                content: "\f00c";
                font: normal normal normal 24px/1 FontAwesome;
                text-align: center;
                line-height: 43px;
                color: #99aeb2;

            }
            .custom-control-input:checked ~ .custom-control-label::after{ 
                content: "\f00c";
                font: normal normal normal 24px/1 FontAwesome;
                text-align: center;
                color: $white;
                line-height: 43px; }   
        }

        &.off{
            .custom-control-label::before{
                content: "\f00d";
                font: normal normal normal 24px/1 FontAwesome;
                text-align: center;
                line-height: 43px;
                color: #99aeb2;

            }
            .custom-control-input:checked ~ .custom-control-label::after{ 
                content: "\f00d";
                color: $white;
                font: normal normal normal 24px/1 FontAwesome;
                text-align: center;
                line-height: 43px; }  
        }
       
        .custom-control-label{ width: 65px; height: 46px; }
       .custom-control-input:checked ~ .custom-control-label::after{ background-image: none; background-color: #99aeb2;  }
      }
     
    
     .custom-control-label::before{  border-radius: 0;  border: solid 1px #707070; left: 0;
        width: 65px;
        height: 46px;
    }

    .custom-control-label::after{
        width: 65px;
        height: 46px; 
        left: 0;
        top:2px;
    }

    .custom-control-input:focus ~ .custom-control-label::before{ box-shadow: none; border-color: #707070; }

 }

 .settingText{ font-size: 12px;  color: #414141;   opacity: 0.58; }
 
/* Picker */
.picker {
    position: relative;
    overflow: hidden;
    border-radius:0px;
    padding-left: 43px;
    border: solid 1px #707070;
    margin-bottom: 15px;
    max-width: 194px;
  

     /* Inputs */
  input {
    height: 41px;
    border: solid 1px #707070;
    background-color: #ffffff;
    outline: 0;
   border:none;
 width: 100%;
 color: #000;

  }
  
  /* Text field */
  input[type="text"] {
   text-align: center;
    text-transform: uppercase;
    color: #000;
  }
  
  /* Color picker */
  input[type="color"] {
    width: 43px;
    height: 44px;
    position: absolute;
    left: -3px;
    top: -1px;
    -webkit-appearance: none;
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  }


  .picker input[type="text"]::placeholder {
    text-transform: initial;
     opacity: 1; /* Firefox */
   }
   
   .picker input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
     text-transform: initial;
   }
   
   .picker input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
     text-transform: initial;
   }
  
  
   

    @media (max-width:1139px){
        .tabingBlock {
            .nav-tabs{
                .nav-link{      padding: 12px 9px; font-size: 15px; }
            }
    
            .newBooking{ padding-top: 2px; }
        }         

    }
@media (max-width:991px){
    .navbar-toggler{ color: $white !important; }
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item{ min-width: 36px; }
    .tabingBlock {
        .nav-tabs{
            .nav-link{     padding: 12px; font-size: 15px; }
        }

        .newBooking{ padding-top: 2px; }
    }
}

@media (max-width:767px){
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item{ min-width: inherit; }

    .customRow{ margin: 0 -5px;  }
    .dashboardBox{ margin: 0 5px; margin-bottom: 20px;     padding: 20px 12px; 
        min-width: 125px; width: 50%; }
    .content-wrapper{ padding: 15px; }
    .tableblock {
        .tableheading{padding: 24px 10px;
            font-size: 16px;
            span{ display: block; }
            a{ font-size: 14px; display:block; float: left; clear: both; margin-left: 0; }
        }
     
    }

    .search-form { margin-right: 0;
        .form-control{ min-width: 130px; font-size: 14px; letter-spacing: 0;}
    }
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item{ margin-left: 0; }
    .tabingBlock{     padding:0px;
        .nav-tabs{
            .nav-link{ 
                font-size: 15px; }
        }
    }
    .order2mobile{ order: 2; }
    .search-room{ padding: 0 15px;}
    .bookingDetails{     padding: 25px 10px;
        p{ font-size: 12px; }
        .labelText{ font-size: 14px; }
    }
    .tableblock .tableheading .actionBtns a{ clear: inherit; }
    .tableblock .tableheading a.overview{ padding: 6px; }
    .sidebar > .nav{ padding-top: 0; }
}

@media(max-width:359px){
    .tabingBlock .nav-tabs .nav-link{
        .tabingBlock .nav-tabs .nav-link {
            font-size: 12px;
        }
    }
}